.laboratoria {
 background-color: rgb(230, 163, 49);
 display: block;
 height: 150px;

}

.es{
    background-color: black;
    display: block;  
    font-style:white;
    height: 150px;
}
.TRANS{
    background-color: rgb(230, 167, 59);
    display: block;
    height: 150px;
}