.laboratoria {
    background-color: rgb(230, 163, 49);
    display: block;
    height: 200px;
    width: 350px;
    padding-top: 10px;
    padding-left: 10px;
   
   }
   
   .es{
       background-color: black;
       display: block;  
      color:white;
       height: 200px;
       width: 350px;
       padding-top: 10px;
       padding-left: 10px;
   }
   .TRANS{
       background-color: rgb(230, 167, 59);
       display: block;
       height: 200px;
       width: 350px;
       padding-top: 10px;
       padding-left: 10px;
   }