.laboratoria {
 background-color: rgb(243, 186, 94);
 display: block;
 height: 100px;
 padding-top: 10px;
 padding-left: 10px;

}

.es{
    background-color: black;
    display: block;  
    color:white;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
}
.TRANS{
    background-color: rgb(230, 167, 59);
    display: block;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
}